<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Blog NodeJS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cats">Categorias</a>
        </li>
      </ul>

      {{#if user}}
      <div class="d-grid d-md-flex">
        <a href="users/logout" class="d-flex btn btn-danger">Logout</a>
      </div>
      {{else}}
        <div class="d-grid gap-2 d-md-flex">
          <a href="/users/login" class="d-flex btn btn btn-secondary mr-4">Login</a>
          <a href="/users/records" class="d-flex btn btn btn-secondary">Registro</a>
        </div>
      {{/if}}
    </div>
  </div>
</nav>
